{
  "presets": [
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": false
      }
    ],
    "@loadable/babel-plugin",
    [
      "module-resolver",
      {
        "alias": {
          "@client": "./src/apps/client",
          "@admin": "./src/apps/admin",
          "@common": "./src/apps/common",
          "@server": "./src/server"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "ssr": true,
            "displayName": true
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "ssr": true,
            "displayName": false
          }
        ]
      ]
    }
  }
}