{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "@utils": "./utils",
          "@components": "./components",
          "@services": "./services",
          "@features": "./features"
        }
      }
    ]
  ]
}