.DS_Store
node_modules
npm-debug.log
debug-storybook.log
.vscode
tsconfig.tsbuildinfo

public/img
public/sw.js
public/sw.js.*

config.*.json
dist
coverage
.next
.eslintcache
.env
.env*.local

uploads
data
certificates
