html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
}

a {
  text-decoration: none;
}

.is-hidden {
  display: none;
}

main {
  max-width: 1315px;
  padding: 0 20px;
  margin: 0 auto;
}

figure {
  display: flex;
  margin: 20px 0;
  padding: 0;
  color: #333;
}

.figure-left {
  justify-content: flex-start;
}

.figure-center {
  justify-content: center;
}

.figure-right {
  justify-content: flex-end;
}


figure img {
  display: block;
  max-width: 100%;
  margin: 0 0 10px;
  height: auto;
}

figcaption span {
  color: #c7c7c7;
  font-style: italic;
  display: block;
  font-size: 10px;
  margin: 4px 0 0;
}

.pager {
  margin: 0 0 85px;
  padding: 0;
  text-align: center;
}

.pager li {
  display: inline-block;
  margin: 0 5px;
}

.pager__item {
  -webkit-appearance: none;
  appearance: none;
  background: white;
  border: 1px solid #e2dfdf;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  padding: 10px 12px 11px;
  width: 42px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  will-change: border-color;
  transition: border-color 150ms ease-out;
  outline: none;
}

.pager__item:hover {
  border-color: #bfbcbc;
}

@media (min-width: 800px) {
  main {
    padding: 0 40px;
  }

  figure {
    margin: 85px 0;
    padding: 0 85px;
  }

  figure + figure {
    margin-top: 200px;
  }
}

.welcome {
  padding: 60px 0;
}

.welcome h1 {
  font-size: 30px;
  margin: 0 0 30px;
}

.welcome p {
  font-size: 18px;
}

.welcome a {
  color: #8e44ad;
}

.welcome a:hover,
.welcome a:focus {
  border-bottom: 1px solid #8e44ad;
}

.notification {
  background: #FFE65D;
  bottom: 0;
  cursor: pointer;
  font-size: 14px;
  left: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  transition: background 250ms ease-out;
}

.notification:hover {
  background: #ffdf32;
}

.notification__inner {
  max-width: 1315px;
  margin: 0 auto;
  text-align: center;
}

.loader {
  margin: 20px 0;
  animation: pulse 800ms ease-in-out infinite alternate;
}

.loader:after {
  background: #8e44ad;
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  margin: 0 auto;
}

@keyframes pulse {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}