form(method="POST" action="" enctype="multipart/form-data")
  div
    label Title
    br
    input(type="text" name="title" value= photo ? photo.title : '')

    br
    br

    div
      label Description
      br
      input(type="text" name="description" value= photo ? photo.description : '')

    br
    br

    if photo
      img(src="/img/" + photo.name, width=300)
      br
      br

    div
      label Photo
      br
      input(type="file" name="file" required = !photo ? 'required' : undefined)

    br
    br

    div
      label Position
      select(name="position" required)
        each position in ['left', 'center', 'right']
          option(
            value=position
            selected= photo && photo.position === position ? 'selected' : undefined
          ) #{position}

    br
    br

    div
      label Portrait
      input(type="checkbox" name="portrait" checked= photo && photo.portrait ? 'checked' : undefined)

    br
    br

    div
      label Square
      input(type="checkbox" name="square" checked= photo && photo.square ? 'checked' : undefined)

    br
    br

    input(type="submit" value="Submit")
