form.form(method="POST" action="" enctype="multipart/form-data")
  div.form__item
    label.form__label Title
    input.form__input(type="text" name="title" value= photo ? photo.title : '')


  div.form__item
    label.form__label Description
    input.form__input(type="text" name="description" value= photo ? photo.description : '')

  div.form__item
    if photo
      img(src="/img/" + photo.name, width=300)
      br
      br

    label.form__label Photo
    input(type="file" name="file" required = !photo ? 'required' : undefined)

  div.form__item
    label.form__label Position
    select(name="position" required)
      each position in ['left', 'center', 'right']
        option(
          value=position
          selected= photo && photo.position === position ? 'selected' : undefined
        ) #{position}

  div.form__item
    label.form__label Portrait
    input(type="checkbox" name="portrait" checked= photo && photo.portrait ? 'checked' : undefined)

  div.form__item
    label.form__label Square
    input(type="checkbox" name="square" checked= photo && photo.square ? 'checked' : undefined)

  input.form__submit.btn(type="submit" value="Submit")
