extends ../admin.pug

block content
  h1 List photos

  p.align-right
    a.btn(href="/admin/photos/new") New photo

  ul.list
    each photo in photos
      li.list__item
        div.list__picture
          img(src="/img/" + photo.name, width=300)
        div.list__text
          h2.title= photo.title
          p.subtitle= photo.description
          p.list__buttons
            a.btn(href="/admin/photos/" + photo.id + "/edit") Edit
            a.btn(href="/admin/photos/" + photo.id + "/delete") Delete

  p.align-right
    a.btn(href="/admin/photos/new") New photo

  ul.pager
    if pager.prev
      if pager.first
        li.pager__item
          a.btn(href="/admin/photos/page/" + pager.first) ««
      li.pager__item
        a.btn(href="/admin/photos/page/" + pager.prev) «
    if pager.next
      li.pager__item
        a.btn(href="/admin/photos/page/" + pager.next) »
      if pager.last
        li.pager__item
          a.btn(href="/admin/photos/page/" + pager.last) »»
