h1 List photos

ul
  each photo in photos
    li
      img(src="/img/" + photo.name, width=800)
      p= photo.title
      p= photo.description
      p
        a(href="/admin/photos/" + photo.id + "/edit") Edit
