extends ../admin.pug

block content
  h1 List photos

  p
    a.btn(href="/admin/photos/new") New photo

  ul.list
    each photo in photos
      li.list__item
        div.list__picture
          img(src="/img/" + photo.name, width=300)
        div.list__text
          h2.title= photo.title
          p.subtitle= photo.description
          p.list__buttons
            a.btn(href="/admin/photos/" + photo.id + "/edit") Edit
            a.btn(href="/admin/photos/" + photo.id + "/delete") Delete

  p
    a.btn(href="/admin/photos/new") New photo

  ul
    if pager.prev
      if pager.first
        li
          a(href="/admin/photos/page/" + pager.first) First
      li
        a(href="/admin/photos/page/" + pager.prev) Prev
    if pager.next
      li
        a(href="/admin/photos/page/" + pager.next) Next
      if pager.last
        li
          a(href="/admin/photos/page/" + pager.last) Last
