h1 New photo

form(method="POST" action="")
  div
    label Title
    br
    input(type="text" name="title" required)

    br
    br

    div
      label Description
      br
      input(type="text" name="description" required)

    br
    br

    div
      label Photo
      br
      input(type="file" name="file" required)

    br
    br

    div
      label Position
      select(name="position" required)
        option(value="left") Left
        option(value="center") Center
        option(value="right") Right

    br
    br

    div
      label Portrait
      input(type="checkbox" name="portrait")

    br
    br

    input(type="submit" value="Submit")
