@include global-reset();
@include reset-html5();
body { background:$bg; font:normal 16px/1.4 "Lucinda Grande", Arial, sans-serif;
    section {
        > div { padding:20px;margin:0 auto;max-width:960px;}
    }

}
a { text-decoration:none; color:$font;
    &:hover,&:focus { color:$linkhover;}
}

.btn{ background:$font; color:$header-font; display:inline-block; padding:10px 20px; 
    font-weight:bold; font-size:14px; border-radius:5px;
} 

form {
    width:550px; padding:20px 0 0;
    > div {clear:left;margin:0 0 30px;}
    label { padding:10px 0 0;float:left; display:block; width:200px; font-size:14px;font-weight:bold;}
    input[type="text"]{width:328px; border:1px solid $border; padding:10px; font:12px/20px "Lucinda Grande",Arial,sans-serif;}
    input[type="submit"]{ @extend .btn; border:none; cursor:pointer; float:right;}
    input[type="file"]{width:350px;}
} 
