<!DOCTYPE html>
<html lang="en">
<head>
  <title>Clairesophoto</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="robots" content="noindex" />
  <meta name="viewport" content="width=device-width">
  <%= csrf_meta_tags %>
</head>
<body>

<section>
    <small>All rights reserved</small>
    <%= yield %>    
</section>

</body>
</html>
